GROQ_API_KEY=your_groq_api_key_here

# Optional: Provide your MongoDB Atlas URI. 
# If left empty or omitted, the backend will attempt to connect to localhost:27017.
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority

# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="lsv2_your_langsmith_api_key_here"
LANGCHAIN_PROJECT="ielts-platform"
